/*
 * 
 * SendGrid Design Tokens
 * 
 */
:root {
--border-radius: 2px;
--colfax: "Colfax", Helvetica, Arial, sans-serif;
--colfax-bold: "Colfax-Bold", Helvetica, Arial, sans-serif;
--colfax-light: "Colfax-Light", Helvetica, Arial, sans-serif;
--colfax-medium: "Colfax-Medium", Helvetica, Arial, sans-serif;
--color-alert-danger: #f4dddd;
--color-alert-danger-text: #b71c1c;
--color-alert-success: #f1f7e9;
--color-alert-success-text: #2e6b30;
--color-alert-trial: #294661;
--color-alert-verification: #18c96e;
--color-alert-warning: #fefae6;
--color-alert-warning-text: #8c6c15;
--color-black: #000;
--color-blue: #1a82e2;
--color-blue-02: #fbfdff;
--color-blue-05: #f3f9fd;
--color-blue-10: #e8f2fc;
--color-blue-20: #d1e6f9;
--color-blue-40: #a3cdf3;
--color-blue-60: #76b4ee;
--color-blue-80: #489be8;
--color-bluebird: #2196f3;
--color-burnt-orange: #ff5722;
--color-caribbean: #00e5ff;
--color-carrot: #f90;
--color-cobalt: #303f9f;
--color-crown: #7b1fa2;
--color-grass-stain: #8ac24a;
--color-highlighter: rgba(#fdd835, 0.6);
--color-lavender: #dea7e8;
--color-lime: #cbdb39;
--color-logo-accent-dark: #009dd9;
--color-logo-accent-light: #99e1f4;
--color-logo-accent-medium: #00b3e3;
--color-mango: #fdd835;
--color-mantis: #18c96e;
--color-ron-burgundy: #b71c1c;
--color-sangria: #880e4f;
--color-screample: #7c4dff;
--color-seafoam: #00bcd4;
--color-slate: #294661;
--color-slate-02: #fbfbfc;
--color-slate-05: #f4f6f7;
--color-slate-10: #e9ecef;
--color-slate-20: #d4dadf;
--color-slate-40: #a9b5c0;
--color-slate-60: #7f90a0;
--color-slate-80: #546b81;
--color-slate-dark-05: #16452d;
--color-spruce: #4cb04f;
--color-steel: #9e9e9e;
--color-white: #fff;
--color-wild-strawberry: #ff4081;
--compare-border-color: #e9ecef;
--div-border-color: #e9ecef;
--div-border-color-dark: #d4dadf;
--div-border-dashed: dashed;
--div-border-radius: 2px;
--div-border-solid: solid;
--div-border-width: 1px;
--dropdown-menu-z-index: 1000;
--dropzone-bg: #fbfbfc;
--dropzone-bg-active: #f4f6f7;
--dropzone-border: #d4dadf;
--dropzone-border-active: #7f90a0;
--dropzone-hovered-bg: #e7f9f0;
--dropzone-hovered-border: #18c96e;
--font-path: "../fonts";
--header-tabs-border-color: rgba(#000, 0.2);
--header-tabs-hover: #394f64;
--icon-airplane: "\e90b";
--icon-airplane-fill: "\e912";
--icon-align-center: "\e927";
--icon-align-left: "\e928";
--icon-align-right: "\e929";
--icon-analytics: "\e915";
--icon-automation: "\e939";
--icon-builder: "\e914";
--icon-button: "\e920";
--icon-calendar: "\e917";
--icon-caret: "\e900";
--icon-check: "\e905";
--icon-check-circle: "\e907";
--icon-check-shield: "\e93f";
--icon-check-thin: "\e938";
--icon-clean-ui: "\e916";
--icon-click: "\e93b";
--icon-clock: "\e90d";
--icon-cloud-question: "\e93c";
--icon-code: "\e919";
--icon-column-four: "\e950";
--icon-column-one: "\e953";
--icon-column-three: "\e951";
--icon-column-two: "\e952";
--icon-columns: "\e923";
--icon-contacts: "\e913";
--icon-contacts-alt: "\e92c";
--icon-copy: "\e902";
--icon-create: "\e901";
--icon-csv: "\e92a";
--icon-desktop-view: "\e627";
--icon-divider: "\e91a";
--icon-download: "\e93e";
--icon-drag: "\e91b";
--icon-editor-code: "\e934";
--icon-editor-design: "\e935";
--icon-editor-old: "\e933";
--icon-ellipsis: "\e90e";
--icon-ellipsis-vertical: "\e93a";
--icon-forms: "\e94f";
--icon-gear: "\e608";
--icon-help: "\e932";
--icon-help-error: "\e93d";
--icon-image: "\e91e";
--icon-image-text: "\e922";
--icon-images: "\e924";
--icon-info-circle: "\e903";
--icon-key: "\e918";
--icon-list: "\e92b";
--icon-locked: "\e91d";
--icon-mail: "\e61d";
--icon-mail-search: "\e92d";
--icon-mc-align-center: "\e94d";
--icon-mc-align-justify: "\e947";
--icon-mc-align-left: "\e94e";
--icon-mc-align-right: "\e94c";
--icon-mc-code: "\e942";
--icon-mc-design: "\e629";
--icon-mc-format-bold: "\e94b";
--icon-mc-format-italic: "\e94a";
--icon-mc-format-link: "\e949";
--icon-mc-format-underline: "\e948";
--icon-mc-ordered-list: "\e946";
--icon-mc-preview: "\e602";
--icon-mc-return: "\e615";
--icon-mc-test-data: "\e943";
--icon-mc-unordered-list: "\e945";
--icon-mobile-view: "\e61c";
--icon-move-left: "\e941";
--icon-move-right: "\e940";
--icon-pencil: "\e624";
--icon-people: "\e601";
--icon-pie-chart: "\e606";
--icon-plus: "\e617";
--icon-reload: "\e926";
--icon-save-draft: "\e911";
--icon-search: "\e906";
--icon-segment: "\e609";
--icon-social: "\e925";
--icon-sort-asc: "\e910";
--icon-sort-desc: "\e90f";
--icon-space: "\e944";
--icon-spacer: "\e91f";
--icon-status-caution: "\e92f";
--icon-status-negative: "\e930";
--icon-status-positive: "\e92e";
--icon-teammate: "\e90c";
--icon-test-data: "\e937";
--icon-text: "\e921";
--icon-text-only: "\e603";
--icon-trash: "\e62b";
--icon-unlocked: "\e91c";
--icon-unsubscribe: "\e936";
--icon-upload: "\e931";
--icon-user-security: "\e90a";
--icon-view: "\e600";
--icon-warning: "\e909";
--icon-warning-triangle: "\e904";
--icon-x: "\e908";
--icon-x-legacy: "\e62e";
--info-popup-z-index: 19000;
--loader-dark-light: rgba(#fff, 0.35);
--loader-dark-medium: rgba(#fff, 0.75);
--loader-dark-medium-solid: rgba(#fff, 0.9);
--loader-dark-solid: #fff;
--modal-bg: rgba(#000, 0.5);
--modal-body-height: 454px;
--modal-center-bg: #fff;
--modal-center-position: 300px;
--modal-center-width: 600px;
--modal-footer-height: 71px;
--modal-height: 665px;
--modal-side-shadow: -2px 0 6px rgba(#294661, 0.1);
--modal-width: 525px;
--modal-z-index: 20000;
--scale-base: 12px;
--scale-base-down-01: 9px;
--scale-base-down-02: 6px;
--scale-base-down-03: 3px;
--scale-base-up-01: 13px;
--scale-base-up-02: 15px;
--scale-base-up-03: 18px;
--scale-base-up-04: 20px;
--scale-base-up-05: 27px;
--scale-base-up-06: 30px;
--scale-base-up-07: 40px;
--scale-base-up-08: 45px;
--scale-base-up-09: 60px;
--scale-base-up-10: 90px;
--segment-term-max-width: 768px;
--select-disabled-color: rgba(#9e9e9e, 0.4);
--select-2-disabled-arrow: rgba(#9e9e9e, 0.4);
--select-2-disabled-border: rgba(#9e9e9e, 0.4);
--select-2-disabled-placeholder: rgba(#9e9e9e, 0.4);
--spacing-lg: 30px;
--spacing-md: 20px;
--spacing-sm: 12px;
--spacing-xl: 45px;
--spacing-xs: 9px;
--spacing-xxl: 60px;
--spotlight-circle-z-index: 10000;
--spotlight-tooltip-z-index: 10010;
--stats-clicks: #7b1fa2;
--stats-delivered: #8ac24a;
--stats-opens: #303f9f;
--stats-spam-reports: #b71c1c;
--stats-unique-clicks: #7c4dff;
--stats-unique-opens: #2196f3;
--stats-unsubscribes: #880e4f;
--switch-background-z-index: 10;
--switch-option-z-index: 12;
--switch-selector-z-index: 11;
--text-area-disabled-border: rgba(#9e9e9e, 0.4);
--text-area-disabled-color: rgba(#9e9e9e, 0.4);
--text-input-disabled-border: rgba(#9e9e9e, 0.4);
--text-input-disabled-color: rgba(#9e9e9e, 0.4);
--text-input-search-title-bg: rgba(#1a82e2, 0.1);
--tooltip-arrow-height: 6px;
--tooltip-bg: #294661;
--tooltip-font-size: 12px;
--tooltip-line-height: 18px;
}