/*
 * 
 * SendGrid Design Tokens
 * 
 */
$alert-danger: #f4dddd;
$alert-danger-text: #b71c1c;
$alert-success: #f1f7e9;
$alert-success-text: #2e6b30;
$alert-trial: #294661;
$alert-verification: #18c96e;
$alert-warning: #fefae6;
$alert-warning-text: #8c6c15;
$alert-success-text: #2e6b30;