/*
 * 
 * SendGrid Design Tokens
 * 
 */
$badge-background-color: #a9b5c0;
$badge-border-radius: 2px;
$badge-color: #fff;
$badge-font-size: 10px;
$badge-letter-spacing: 1px;
$badge-line-height: 1;
$badge-margin: 0 0 3px;
$badge-padding: 3px 6px;