/*
 * 
 * SendGrid Design Tokens
 * 
 */
$badge-background-color: #a9b5c0;
$badge-border-radius: 2px;
$badge-color: #fff;
$badge-font-size: 10px;
$badge-letter-spacing: 1px;
$badge-line-height: 1;
$badge-margin: 0 0 3px;
$badge-padding: 3px 6px;
$color-alert-danger: #f4dddd;
$color-alert-danger-text: #b71c1c;
$color-alert-success: #f1f7e9;
$color-alert-success-text: #2e6b30;
$color-alert-trial: #294661;
$color-alert-verification: #18c96e;
$color-alert-warning: #fefae6;
$color-alert-warning-text: #8c6c15;
$color-black: #000;
$color-blue: #1a82e2;
$color-blue-02: #fbfdff;
$color-blue-05: #f3f9fd;
$color-blue-10: #e8f2fc;
$color-blue-20: #d1e6f9;
$color-blue-40: #a3cdf3;
$color-blue-60: #76b4ee;
$color-blue-80: #489be8;
$color-bluebird: #2196f3;
$color-burnt-orange: #ff5722;
$color-caribbean: #00e5ff;
$color-carrot: #f90;
$color-cobalt: #303f9f;
$color-crown: #7b1fa2;
$color-grass-stain: #8ac24a;
$color-highlighter: rgba(#fdd835, 0.6);
$color-lavender: #dea7e8;
$color-lime: #cbdb39;
$color-logo-accent-dark: #009dd9;
$color-logo-accent-light: #99e1f4;
$color-logo-accent-medium: #00b3e3;
$color-mango: #fdd835;
$color-mantis: #18c96e;
$color-ron-burgundy: #b71c1c;
$color-sangria: #880e4f;
$color-screample: #7c4dff;
$color-seafoam: #00bcd4;
$color-slate: #294661;
$color-slate-02: #fbfbfc;
$color-slate-05: #f4f6f7;
$color-slate-10: #e9ecef;
$color-slate-20: #d4dadf;
$color-slate-40: #a9b5c0;
$color-slate-60: #7f90a0;
$color-slate-80: #546b81;
$color-slate-dark-05: #21394f;
$color-spruce: #4cb04f;
$color-steel: #9e9e9e;
$color-white: #fff;
$color-wild-strawberry: #ff4081;