/*
 * 
 * SendGrid Design Tokens
 * 
 */
$banner-message-background-color: rgba(26, 130, 226, 0.05);
$banner-message-beta-background-color: rgba(124, 77, 255, 0.05);
$banner-message-beta-border-color: #7c4dff;
$banner-message-border-color: #1a82e2;
$banner-message-border-type: solid;
$banner-message-border-width: 2px;
$banner-message-font-size: 13px;
$banner-message-padding: 9px 12px;