/*
 * 
 * SendGrid Design Tokens
 * 
 */
$scale-base: 12px;
$scale-down-01: 9px;
$scale-down-02: 6px;
$scale-down-03: 3px;
$scale-up-01: 13px;
$scale-up-02: 15px;
$scale-up-03: 18px;
$scale-up-04: 20px;
$scale-up-05: 27px;
$scale-up-06: 30px;
$scale-up-07: 40px;
$scale-up-08: 45px;
$scale-up-09: 60px;
$scale-up-10: 90px;