/*
 * 
 * SendGrid Design Tokens
 * 
 */
:root {
--sg-color-code-blue: #1A82E2;
--sg-color-code-green: #18C96E;
--sg-color-code-purple: #7C4DFF;
--sg-color-design-blue: #1A82E2;
--sg-color-design-electric-green: #18C96E;
--sg-color-design-gray: #9E9E9E;
--sg-color-design-green: #8AC24A;
--sg-color-design-lavendar: #DEA7E8;
--sg-color-design-orange: #FF9900;
--sg-color-design-pink: #FF4081;
--sg-color-design-red: #880E4F;
--sg-color-design-teal: #00BCD4;
--sg-color-design-violet: #7C4DFF;
--sg-color-design-yellow: #FDD835;
--sg-font-base-font-size: 20px;
--sg-font-base-line-height: 35px;
}